<!-- src/app/welcome-page/welcome-page.component.html -->
<div class="welcome-page__container">
    <h1>Welcome to Night Movies Collection</h1>
    <!-- <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      color="primary"
      class="welcome-button"
    >
      Sign Up
    </button> -->
    <h1>
      <a routerLink="../registration" alt="Link to main movies page">Register</a>
    </h1>
  
    <h1>
      <a routerLink="../login" alt="Link to main movies page">Login</a>
    </h1>
  </div>