.centre-elements{
  margin: 300px auto;
  max-width: 500px;
}
.login-margin {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  
  .cancel-margin {
    margin-bottom: 15px;
  }
  
  .title {
    padding-bottom: 15px;
  }
  .flex-form {
    display: flex;
    flex-direction: column;
  }

