<!-- src/app/user-registration-form/user-registration-form.component.html -->
<!-- <form [formGroup]="angForm"> -->
  <mat-card class="centre-elements">
    <mat-card-header>
      <mat-card-title class="title">Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-form">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
          <!-- <div *ngIf="angForm.controls['Username'].invalid && (angForm.controls['Username'].dirty || angForm.controls['Username'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Username'].errors['required']">
              Username is required.
          </div>
        </div> -->
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Password"
            type="password"
            placeholder="Password"
            name="Password"  
            required          
          />

        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Email"
            type="email"
            placeholder="Email"
            name="email"
            required
          />

        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="padding">
      <button
        mat-raised-button
        (click)="registerUser()"
        color="primary"
        class="signup-margin"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
<!-- </form> -->
